@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-1: #8fb3ff;
  --clr-2: #ebf1ff;
  --clr-3: #f199bf;
  --clr-4: #d41d6d;
  --clr-5: #001952;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradient_text {
  background-image: radial-gradient(circle, #8fb3ff, #d41d6d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.glowing_gradient::before,
.glowing_gradient::after {
  content: "";
  position: absolute;
  inset: -.25rem;
  z-index: -1;
  border-radius: inherit;
  background: conic-gradient(from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-1),
      var(--clr-4),
      var(--clr-3));
  animation: rotation 10s linear infinite;
}

.glowing_gradient::after {
  filter: blur(3.5rem);
}

.floating {
  animation: floating 3s ease-in-out infinite;
  margin-left: 30px;
  margin-top: 5px;
}

.delay_2s {
  animation-delay: 2s;
}

.card {
  width: 400px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.box_shadow {
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
  0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
  0 0 16px hsl(0deg 0% 0% / 0.075);
}

.card_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 100px;
  margin-bottom: 20px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }

}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}
